@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}
.logocolor{
  font-size: 56px;
  font-weight: 900;
  background: linear-gradient(102.01deg, #FEBE0C 2.91%, #FC3172 25.99%, #8759F2 44.45%, #8759F2 58.3%, #0096FD 76.76%, #26F900 95.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clip-path-custom {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}
.clip-path-custom1 {
  clip-path: polygon(0 0, 100% 0, 97% 100%, 0% 100%);
}
.bgimg{
  background: './navbarimages/bg.png';
  width: 100%;
  height: full;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gradient-border {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 12px;
}
.gradient-btn {
  position: relative;
  background: white; 
  border-radius: 4px;
  padding: 2px;
}
.gradient-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 4px;
  background: linear-gradient(to right, #FEBE0C, #FC3172, #8759F2, #8759F2,#0096FD,#26F900);
  -webkit-mask: 
    linear-gradient(white 0 0) content-box, 
    linear-gradient(white 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.gradient-border1 {
  /* background: white; */
  padding: 1px 6px;
  background-color: white;
  text-align: center;
  /* transform: translateY(13px); */
  z-index: 9999999999;
  border-radius: 4px;
}
.bgCard{
  height: 8px;
  background: linear-gradient(to right, #FEBE0C, #FC3172, #8759F2, #8759F2,#0096FD,#26F900);
}

.card {
  width: 160px;
  height: 100px;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid #C4C4C4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease-in-out;
  margin-bottom: 24px;
}

.card:hover {
  border: 2px solid transparent;
  border-radius: 4px; /* Border radius saqlanadi */
  background: linear-gradient(white, white) padding-box, 
              linear-gradient(to right, #FEBE0C, #FC3172, #8759F2, #0096FD, #26F900) border-box;
}

.card1 {
  width: 272px;
  height: 386px;
  max-width: 300px; 
  margin: 0 auto;
  padding: 24px; 
  padding-bottom: 0; 
  border-radius: 8px;
  border: 2px solid #C4C4C4; 
  transition: border 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  position: relative;
  background: white;
}

@media (min-width: 768px) { /* md: */
  .card1 {
    width: 300px;
  }
}

.card1:hover {
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box, 
              linear-gradient(to right, #FEBE0C, #FC3172, #8759F2, #0096FD, #26F900) border-box;
}

.bgActive{
  width: full;
  height: 4px;
  background: linear-gradient(to right, #FEBE0C, #FC3172, #8759F2, #8759F2,#0096FD,#26F900);
}
.gradient-border1::before {
  content: "";
  position: absolute;
  /* z-index: 9999999999; */
  inset: 0;
  padding: 2px; 
  /* background-color: white; */
  border-radius: 12px;
  background: linear-gradient(to right, #FEBE0C, #FC3172, #8759F2, #8759F2,#0096FD,#26F900);
  -webkit-mask: 
    linear-gradient(white 0 0) content-box, 
    linear-gradient(white 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; 
  border-radius: 12px;
  background: linear-gradient(to right, #FEBE0C, #FC3172, #8759F2, #8759F2,#0096FD,#26F900);
  -webkit-mask: 
    linear-gradient(white 0 0) content-box, 
    linear-gradient(white 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.gradient-text {
  font-size: 12px; 
  font-weight: normal;
  background: linear-gradient(to right, #FEBE0C, #FC3172, #8759F2, #8759F2,#0096FD,#26F900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-text {
  font-size: 14px; 
  font-weight: 700;
  background: linear-gradient(to right, #FEBE0C, #FC3172, #8759F2, #8759F2,#0096FD,#26F900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.texts{
  background: linear-gradient(to right, #FEBE0C, #FC3172, #8759F2, #8759F2,#0096FD,#26F900);

}

.productCard {
  width: 271px;
  height: 477px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px; 
  padding-right: 24px; 
  padding-top: 31px; 
  padding-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
}
.productCard:hover{
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
 
}

@media (max-width: 500px) {
  .gradient-border1 {
    transform: translateY(14px);
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  appearance: none;
}
